<% content_for :title, "AlumNet - Public Profile" %>
<article class="container-fluid publicProfile">
  <div class="row col-md-10 col-md-offset-1">

    <div class="col-md-3">
      <% if @user.avatar %>
        <img src=<%= @user.avatar %> alt="avatar" class="img-circle publicProfile__avatarImage">
      <% else %>
        <img src="assets/registration/uploadAvatar.png" alt="avatar" id="preview-avatar" class="img-circle publicProfile__avatarImage">
      <% end %>
    </div>

    <div class="col-md-9">

      <% if @user.member==1 || @user.member==2 %>
        <div class="publicProfile__membership">
          <div>
            <span class="glyphicon glyphicon-certificate glyphicon__right"></span>
            MEMBER
          </div>
        </div>
      <% end %>
      <% if @user.member==3 %>
        <div class="publicProfile__membership">
          <div>
            <span class="glyphicon glyphicon-certificate"></span>
            <span class="glyphicon glyphicon-certificate glyphicon__big"></span>
            <span class="glyphicon glyphicon-certificate glyphicon__right"></span>
            LIFETIME MEMBER
          </div>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-6">

          <div class="metaInfoCard">
            <h3 class="metaInfoCard__title">
              <%= @user.name %>
            </h3>
            <h4>
              <%= @user.last_experience %>

            </h4>

            <ul class="metaInfoCard__list">

              <% if @user.born != "" %>
                <li>
                  <span class="metaInfoCard__concept"> <span class="glyphicon glyphicon-asterisk"></span> From:</span>
                  <%= @user.born %>

                </li>
              <% end %>

              <% if @user.residence %>
                <li>
                  <span class="metaInfoCard__concept"> <span class="glyphicon glyphicon-map-marker"></span> Lives in:</span>
                  <%= @user.residence %>
                </li>
              <% end %>

              <li>
                <span class="metaInfoCard__concept"> <span class="glyphicon glyphicon-envelope"></span> Email:</span>
                  <%= @user.email %>

              </li>
            </ul>
          </div>

        </div>

        <div class="col-md-3">
          <div class="metaInfoCard">
            <h3 class="metaInfoCard__title">Languages</h3>

            <ul id="languages-list" class="metaInfoCard__list metaInfoCard__list--skills" style="opacity: 1;">
              <% @user.languages.each do |language| %>
                <li>
                  <div class="overfloadText metaInfoCard__language">
                    <%= language.name %>
                  </div>
                </li>
              <% end %>
            </ul>

          </div>
        </div>
        <div class="col-md-3">

          <div class="metaInfoCard">
            <h3 class="metaInfoCard__title">Skills</h3>

            <ul id="languages-list" class="metaInfoCard__list metaInfoCard__list--skills" style="opacity: 1;">
              <% @user.skills.each do |skill| %>
                <li>
                  <div class="overfloadText metaInfoCard__language">
                    <%= skill.name %>
                  </div>
                </li>
              <% end %>
            </ul>

          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-md-10">

          <!-- Professional Experiences -->    
          <h2 id="professionalExperience">
              Professional Experience
          </h2>
          <% @user.profesional_experiences.each do |experience| %>
              
              <!-- One experience start -->
                <div class="experienceCard">
                <h3 class="experienceCard__title js-title" style="display: inline">
                  <%= experience.name %>             
              
                </h3>
                <h4>
                  <%= experience.organization_name %>                  
                </h4>
                <h4>
                  <% if experience.internship %>                  
                    AIESEC Internship
                  <% end %>                  
                </h4>
                <ul class="experienceCard__metaInfo">
                  <li><span class="glyphicon glyphicon-calendar"></span>
                           
                  From <%= experience.start_date %> to <%= experience.end_date %>
                    
                  </li>
                  <li><span class="glyphicon glyphicon-map-marker"></span>
                  Location: 
                  </li>
                </ul>

                <div class="experienceCard__description"><br>
                  <%= experience.description %>
                </div>
              </div>
              <!-- One experience end -->
              
          <% end %>
          
          <!-- Alumni experiences -->
          <%= image_tag("profile/logoaiesec130.png", alt: "ALUMNI") %>
          <% @user.alumni_experiences.each do |experience| %>
              <%= experience %>             

            <!-- One experience start -->
            <div class="experienceCard">
              <h3 class="experienceCard__title js-title" style="display: inline">
                <%= experience.name %>             
            
              </h3>
              <h4>
                <%= experience.organization_name %>                  
              </h4>
              <h4>
                <% if experience.internship %>                  
                  AIESEC Internship
                <% end %>                  
              </h4>
              <ul class="experienceCard__metaInfo">
                <li><span class="glyphicon glyphicon-calendar"></span>
                         
                From <%= experience.start_date %> to <%= experience.end_date %>
                  
                </li>
                <li><span class="glyphicon glyphicon-map-marker"></span>
                Location: 
                </li>
              </ul>

              <div class="experienceCard__description">                
                Level of Experience: <%= experience.aiesec_experience %> <br>
              </div>

              <div class="experienceCard__description"><br>
                <%= experience.description %>
              </div>
            </div> 

            <!-- One experience end -->
          <% end %>


          <!-- AIESEC Experiences -->
          <%= image_tag("profile/aiesec130x20.png", alt: "AIESEC") %>

          <% @user.aiesec_experiences.each do |experience| %>
            <!-- One experience start -->
            <div class="experienceCard">
              <h3 class="experienceCard__title js-title" style="display: inline">
                <%= experience.name %>             
            
              </h3>
              <h4>
                <%= experience.organization_name %>                  
              </h4>
              <h4>
                <% if experience.internship %>                  
                  AIESEC Internship
                <% end %>                  
              </h4>
              <ul class="experienceCard__metaInfo">
                <li><span class="glyphicon glyphicon-calendar"></span>
                         
                From <%= experience.start_date %> to <%= experience.end_date %>
                  
                </li>
                <li><span class="glyphicon glyphicon-map-marker"></span>
                Location: 
                </li>
              </ul>

              <div class="experienceCard__description">                
                Level of Experience: <%= experience.aiesec_experience %> <br>
              </div>

              <div class="experienceCard__description"><br>
                <%= experience.description %>
              </div>
            </div> 

            <!-- One experience end -->
          <% end %>

        </div>
      </div>

    </div>

  </div>


</article>