<% content_for :title, "AlumNet - Public Profile" %>
<article class="container-fluid publicProfile">
  <div class="row col-md-10 col-md-offset-1">

    <div class="col-md-3">
      <% if @user.avatar %>
        <img src=<%= @user.avatar %> alt="avatar" class="img-circle publicProfile__avatarImage">
      <% else %>
        <img src="assets/registration/uploadAvatar.png" alt="avatar" id="preview-avatar" class="img-circle publicProfile__avatarImage">
      <% end %>
    </div>

    <div class="col-md-9">

      <% if @user.member==1 || @user.member==2 %>
        <div class="publicProfile__membership">
          <div>            
            <span class="glyphicon glyphicon-certificate glyphicon__right"></span>
            MEMBER
          </div>
        </div>
      <% end %>
      <% if @user.member==3 %>
        <div class="publicProfile__membership">
          <div>
            <span class="glyphicon glyphicon-certificate"></span>
            <span class="glyphicon glyphicon-certificate glyphicon__big"></span>
            <span class="glyphicon glyphicon-certificate glyphicon__right"></span>
            LIFETIME MEMBER
          </div>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-6">

          <div class="metaInfoCard">
            <h3 class="metaInfoCard__title">
              <%= @user.name %>
            </h3>
            <h4>
              <%= @user.last_experience %>
              
            </h4>

            <ul class="metaInfoCard__list">
              <li>
                <span class="metaInfoCard__concept"> <span class="glyphicon glyphicon-asterisk"></span> From:</span> 
                
              </li>
              <li>
                <span class="metaInfoCard__concept"> <span class="glyphicon glyphicon-map-marker"></span> Lives in:</span>

              </li>

              <li>
                <span class="metaInfoCard__concept"> <span class="glyphicon glyphicon-envelope"></span> Email:</span>
                  <%= @user.email %>
                
              </li>
            </ul>
          </div>

        </div>

        <div class="col-md-3">
          <div class="metaInfoCard">
            <h3 class="metaInfoCard__title">Languages</h3>

            <ul id="languages-list" class="metaInfoCard__list metaInfoCard__list--skills" style="opacity: 1;">
              <% @user.languages.each do |language| %>
                <li>
                  <div class="overfloadText metaInfoCard__language">
                    <%= language["name"] %>
                  </div>                  
                </li>
              <% end %>
            </ul>

          </div>
        </div>
        <div class="col-md-3">

          <div class="metaInfoCard">
            <h3 class="metaInfoCard__title">Skills</h3>

            <ul id="languages-list" class="metaInfoCard__list metaInfoCard__list--skills" style="opacity: 1;">
              <% @user.skills.each do |skill| %>
                <li>
                  <div class="overfloadText metaInfoCard__language">
                    <%= skill["name"] %>
                  </div>                  
                </li>
              <% end %>
            </ul>

          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-md-10">
          <h2 id="professionalExperience">
              Professional Experience
          </h2>

          <!-- One experience start -->
            <div class="experienceCard">
            <h3 class="experienceCard__title js-title" style="display: inline">
              Name of the Position
            </h3>
            <h4>
              Name of the organization
            </h4>
            <h4>
              AIESEC Internship
            </h4>
            <ul class="experienceCard__metaInfo">
              <li><span class="glyphicon glyphicon-calendar"></span>
                From Jan 21, 2015 to Aug 24, 2015
              </li>
              <li><span class="glyphicon glyphicon-map-marker"></span>
              Location: Paris - France
              </li>
            </ul>

            <div class="experienceCard__description">
              Level of Experience: level one or two <br>
            </div>

            <div id="js-description" class="experienceCard__description"><br>
              Description of the experience, a lot of text for testing
            </div>
          </div>
          <!-- One experience end -->

          <!-- One experience start -->
            <div class="experienceCard">
            <h3 class="experienceCard__title js-title" style="display: inline">
              Name of the Position
            </h3>
            <h4>
              Name of the organization
            </h4>
            <h4>
              AIESEC Internship
            </h4>
            <ul class="experienceCard__metaInfo">
              <li><span class="glyphicon glyphicon-calendar"></span>
                From Jan 21, 2015 to Aug 24, 2015
              </li>
              <li><span class="glyphicon glyphicon-map-marker"></span>
              Location: Paris - France
              </li>
            </ul>

            <div class="experienceCard__description">
              Level of Experience: level one or two <br>
            </div>

            <div id="js-description" class="experienceCard__description"><br>
              Description of the experience, a lot of text for testing
            </div>
          </div>
          <!-- One experience end -->

          <%= image_tag("profile/aiesec130x20.png", alt: "AIESEC") %>
          <!-- One experience start -->
            <div class="experienceCard">
            <h3 class="experienceCard__title js-title" style="display: inline">
              Name of the Position
            </h3>
            <h4>
              Name of the organization
            </h4>
            <h4>
              AIESEC Internship
            </h4>
            <ul class="experienceCard__metaInfo">
              <li><span class="glyphicon glyphicon-calendar"></span>
                From Jan 21, 2015 to Aug 24, 2015
              </li>
              <li><span class="glyphicon glyphicon-map-marker"></span>
              Location: Paris - France
              </li>
            </ul>

            <div class="experienceCard__description">
              Level of Experience: level one or two <br>
            </div>

            <div id="js-description" class="experienceCard__description"><br>
              Description of the experience, a lot of text for testing
            </div>
          </div>
          <!-- One experience end -->

          <%= image_tag("profile/logoaiesec130.png", alt: "ALUMNI") %>

           <!-- One experience start -->
            <div class="experienceCard">
            <h3 class="experienceCard__title js-title" style="display: inline">
              Name of the Position
            </h3>
            <h4>
              Name of the organization
            </h4>
            <h4>
              AIESEC Internship
            </h4>
            <ul class="experienceCard__metaInfo">
              <li><span class="glyphicon glyphicon-calendar"></span>
                From Jan 21, 2015 to Aug 24, 2015
              </li>
              <li><span class="glyphicon glyphicon-map-marker"></span>
              Location: Paris - France
              </li>
            </ul>

            <div class="experienceCard__description">
              Level of Experience: level one or two <br>
            </div>

            <div id="js-description" class="experienceCard__description"><br>
              Description of the experience, a lot of text for testing
            </div>
          </div>
          <!-- One experience end -->


        </div>
      </div>

    </div>

  </div>


</article>