<div class="container margin_bottom_large margin_top_large padding_bottom_large">
	<div class="row">
		<div class="col-sm-6 col-md-offset-3">
			<h1 class="h2">Recover your password</h1>
			<div class="panel panel-default">
				<div class="panel-heading">Enter your email in the field below</div>
				<div class="panel-body">
					
					<% if @errors && @errors.any? %>
					<div class="homeAlumNet__alert text-danger text-right alert alert-danger">
						<% @errors.full_messages.each do |msg| %>
						<span class="glyphicon glyphicon-warning-sign"></span>   <%= msg %>
						<% end %>
					</div>
					<% end %>
					<%= form_tag password_reset_path(@token), method: :put,  :class => 'formANet form' do %>
					<div class="form-group">
						<%= label_tag :password %>
						<%= password_field_tag :password, "", class: 'form-control', placeholder: 'Type your new password', required: true %>
					</div>
					<div class="form-group">
						<%= label_tag :password_confirmation %>
						<%= password_field_tag :password_confirmation, "", class: 'form-control', placeholder: 'Confirm your new password', required: true %>
					</div>
					<%= submit_tag "Update password", class: 'btn btn-primary btn-lg' %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>