<div class="container margin_bottom_large margin_top_large padding_bottom_large">
  <div class="row">
    <div class="col-sm-6 col-md-offset-3">
      <h1 class="h2">Recover your password</h1>
      <div class="panel panel-default">
        <div class="panel-heading">Enter your email in the field below</div>
        <div class="panel-body">
          
          <% if @errors && @errors.any? %>
          <div class="homeAlumNet__alert text-danger text-right alert alert-danger">
            <% @errors.messages.each do |msg| %>
            <span class="glyphicon glyphicon-warning-sign"></span> <%= msg[1][0] %>
            <% end %>
          </div>
          <% end %>
          <%= form_tag password_resets_path, method: :post, :class => 'formANet form' do %>
          <div class="form-group">
            <%= label_tag :email %>
            
            <%= text_field_tag :email,  @email , class: 'form-control input-lg', placeholder:'Enter your Email' %>
            
          </div>
          <%= submit_tag "Send", class: 'btn btn-primary btn-lg' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>