<h1>Login</h1>
<% if @errors && @errors.any? %>
  <% @errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>
<% end %>

<fieldset>
<legend>Login</legend>
  <%= form_tag sign_in_path do %>
    <%= label_tag :email %>
    <%= text_field_tag 'user[email]', @email %>
    <%= label_tag :password %>
    <%= password_field_tag 'user[password]' %>
    <%= submit_tag "Login" %>
  <% end %>
</fieldset>
<hr>
<fieldset>
<legend>Register</legend>
  <%= form_tag sign_up_path do %>
    <%= label_tag :first_name %>
    <%= text_field_tag 'profile[first_name]', @first_name %>
    <%= label_tag :last_name %>
    <%= text_field_tag 'profile[last_name]', @last_name %>
    <%= label_tag :email %>
    <%= text_field_tag 'user[email]', @signup_email %>
    <%= label_tag :password %>
    <%= password_field_tag 'user[password]' %>
    <%= label_tag :password_confirmation %>
    <%= password_field_tag 'user[password_confirmation]' %>
    <%= submit_tag "Register" %>
  <% end %>
</fieldset>
