<h1>Contacts</h1>
<div>
  <a class="deep-link delayed" onclick="return cloudsponge.launch('linkedin');">
    <%= image_tag("social_contacts/linkedin.png", alt: "linkedIn") %>
  </a>
  <a class="deep-link delayed" onclick="return cloudsponge.launch('facebook');">
    <%= image_tag("social_contacts/facebook.png", alt: "Facebook") %>
  </a>
  <a class="deep-link delayed" onclick="return cloudsponge.launch('yahoo');">
    <%= image_tag("social_contacts/yahoo.png", alt: "Yahoo") %>
  </a>
  <a class="deep-link delayed" onclick="return cloudsponge.launch('windowslive');">
    <%= image_tag("social_contacts/outlook.com.png", alt: "Windows Live") %>
  </a>
  <a class="deep-link delayed" onclick="return cloudsponge.launch('gmail');">
    <%= image_tag("social_contacts/gmail.png", alt: "Gmail") %>
  </a>
</div>
<!-- <form>
  <textarea name="contacts" id="contact_list" style="width:450px;height:82px"></textarea>
  <button class="btn btn-default js-submit">Send Invitation</button>
  </span>
</form> -->
