<script>
	$(document).ready(function() {
	   	$('.btnFacebook').click(function(){
			FB.ui({
			  method: 'share',
			  href: 'http://alumnet.aiesec-alumni.org/donations',
			}, function(response){});
		});

		//var divPosition = $('#divId').offset();
		$('.js-donate-now').click(function(){
			$('html, body').animate({scrollTop: $('#rewards').offset().top}, "slow");
		});
	});
</script>
<% content_for :title, "AlumNet - Donate" %>
<% content_for :head do %>
  <!-- your tags -->
  <meta property="og:title" content="LOOKING FOR THE TOP 1% AIESEC ALUMNI" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://alumnet.aiesec-alumni.org/donations/challenge" />
  <meta property="og:image" content="http://alumnet.aiesec-alumni.org/images/crowdfunding/Logo-alumni-pionner-challenge.png" />
  <meta property="og:description" content="We are looking for the first 10.000 active AIESEC Alumni in the world. Are you one of them? Join us here!" />
<% end %>
<article class="donations">

	<div class="donations__header" style="padding-top:0px;">
		<div class="container">
		  <div class="row">
		  	<div class="col-md-12 text-center">
		  		<!-- CONTENT HEADER -->
		  		<img src="http://alumnet.aiesec-alumni.org/images/crowdfunding/Banner-alumni-pionner%20challege.png" style="width: 100%">
		  		<!-- END CONTENT HEADER -->

		  		<div class="row">

		  			<!-- IMAGE OU VIDEO -->
		  			<div class="col-md-8">
		  				<div class='embed-container'>
								<iframe src='https://www.youtube.com/embed/piHDtu5Unjc' frameborder='0' allowfullscreen></iframe>
							</div>
		  			</div>
		  			<!-- END IMAGE OU VIDEO -->

						<!-- DONATE NOW -->
		  			<div class="col-md-4">
		  				<div class="donations__header--donate text-center">
		  					<h3 class="text-left no-margin-top"><span><%= number_to_currency(@campaign_details["total_sold"], unit: "€") %></span></h3>
		  					<p class="margin_bottom_small text-left">
		  						<%= number_to_percentage(@goal_percentage, precision: 2) %> already raised from our goal. <br>
		  						The first 1% of the alumni network will raise <strong>250k</strong> to unleash the real potential of our network!
		  					</p>
	  						<div class="progress margin_bottom_small">
								  <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: <%= @goal_percentage %>%">
	    							<span class="sr-only"><%= @goal_percentage %>% Complete</span>
	  							</div>
								</div>
								<span class="numberSmall"><%= @days_left %></span><span class="textLarge"> Days Left</span><br>
								<div class="row margin_top_medium">
									<div class="col-md-6 text-center">
										<span class="number"><%= @donors %></span><br>
										<span class="text">Donors</span>
									</div>
									<div class="col-md-6 text-center">
										<span class="number"><%= @countries %></span><br>
										<span class="text">Countries</span>
									</div>
								</div>
								<div class="row margin_top_medium">
									<div class="col-md-12">
										<button class="btn-orange js-donate-now">DONATE NOW</button>
									</div>
								</div>
		  				</div>
		  			</div>
		  			<!-- END DONATE NOW -->

		  		</div>
		  	</div>
		  </div>
		</div>
	</div>

	<div class="donations__information">
		<div class="container">
			<div class="row">
		    <div class="col-md-8">

		    	<!-- SHARED -->
		    	<!-- <h3 class="title margin_bottom_small">Other Ways you can help</h3>
		    	<div class="donations__information--shared">
		    		<div class="row">
			    		<div class="col-md-12 margin_bottom_small">
			    			<span class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
			    		</div>
			    	</div>
			    	<div class="row">
			    		<div class="col-md-4">
			    			<button class="btn btn-primary btnFacebook"><i class="fa fa-facebook-official" aria-hidden="true"></i> Share</button>
			    		</div>
			    		<div class="col-md-4">
			    			<button class="btn btn-primary btnTwitter"><i class="fa fa-twitter" aria-hidden="true"></i> Tweet</button>
			    		</div>
			    		<div class="col-md-4 numberShared padding_top_small">
			    			<span><b>58K</b> total shares</span>
			    		</div>
			    	</div>
			    </div> -->
			    <!-- END SHARED -->

			    <!-- MENU TAB-->
			    <div class="donations__information--menu margin_top_small">
			    	<div class="row">
			    		<div class="col-md-12">

			    			<ul class="nav nav-tabs">
								  <li class="active"><a data-toggle="tab" href="#summary">Summary</a></li>
								  <!-- <li><a data-toggle="tab" href="#timeline">Timeline</a></li>
								  <li><a data-toggle="tab" href="#comments">Comments</a></li> -->
								  <li><a data-toggle="tab" href="#backers">Backers</a></li>
								</ul>

								<div class="tab-content">

									<!-- STEP 1 -->
								  <div id="summary" class="tab-pane fade in active">
								    <h3 class="margin_bottom_small title">About the campaign</h3>
								    <p>Remember those big dreams you had and the incredible goals you accomplished during your days as an AIESECer?  It all started with your team, the big plans you shared and the transformational impact that AIESEC had on you – personally, professionally and culturally! <strong>You were a Pioneer.</strong></p>

								    <p>Now, we’re calling on <strong>you as a pioneer</strong> to help us build the AIESEC Alumni leadership network to its full potential – 1,000,000 strong, making a positive impact on the world.</p>

								    <p>By reaching the top 1% of the AIESEC alumni network… we can accomplish our goal of registering 10,000 alumni members on <strong>AlumNet</strong> and asking them to donate, to drive the growth of our global online community.</p>

								    <h3 class="margin_bottom_small title">We need your help to make AIESEC Alumni bigger and stronger</h3>

								    <p>To achieve our shared vision, we are raising €250,000* this year in order to fund the expansion of AIESEC Alumni programs, membership and impact around the globe.  All of this will be fulfilled through <strong>AlumNet</strong>, the global online community portal that we launched in February of this year, and which allows national alumni associations to manage their members, events and programs to increase their impact.</p>

								    <img src="http://alumnet.aiesec-alumni.org/images/crowdfunding/funds.jpg" style="width: 100%">

								    <!-- <h3 class="margin_bottom_small title">How We Will Use the Funds</h3>

								    <ol>
								    	<li>Support the execution of the AAI Transformation Project: achieving high growth in AlumNet registrations, increasing participation in our global programs, developing national AIESEC Alumni associations and increasing our membership.</li>
								    	<li>Achieve a sustainable business model in the years to come, carefully transitioning key administration and management functions into the hands of a small paid professional staff.  This includes marketing, membership development, program development, AlumNet management, accounting and fundraising.</li>
								    	<li>Invest in AlumNet enhancements that are needed to drive widespread adoption and scalability.</li>
								    </ol> -->

								    <h3 class="margin_bottom_small title">The Team:</h3>

								    <p>We are a team of passionate AIESEC Alumni leaders from around the globe, who are working voluntarily to massively increase the size and impact of the AIESEC Alumni leadership network.  We are more than 30 Alumni volunteers and members of the AIESEC Alumni International Executive Board working to build the network.  We’re partnered with regional and national alumni association leaders in more than 50 countries around the globe, who share our vision and who are working together with us to make it happen.</p><br><br>

								    <img src="http://alumnet.aiesec-alumni.org/images/crowdfunding/help.jpg" style="width: 100%">

								    <!-- <h3 class="margin_bottom_small title">How You Can Help</h3>
								    <p><strong>1) BACK THE CAMPAIGN</strong> at whatever donation level you can. Every contribution - small or large - counts! Take a peek at some of the featured rewards.</p>

								    <p><strong>2) CHALLENGE OTHERS</strong> when you make a donation, through Facebook. They could be your LC, MC or AI team colleagues, or alumni friends you’re in contact with from throughout your career. Follow the instructions that appear when your transaction is complete!</p>

								    <p><strong>3) SPREAD THE WORD!</strong> It takes tremendous global community support to fund a dream like this! Let your alumni friends know about this.  Crowdfunding is about lots of people getting together to donate modest amounts of money. So, please, share this page on your social networks and via email.</p> -->
								  </div>
								  <!-- END STEP 1 -->

								  <!-- STEP 2 -->
								  <div id="timeline" class="tab-pane fade margin_top_large margin_bottom_large">	    
										<section class="timeline">
										  <ul>
										    <li>
										      <div>
										        <time>May 2016</time> <br>
										        <span class="title">1st Generation Prototype</span>	<br>									        
										        <span class="paragraph">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</span>
										      </div>
										    </li>
										    <li>
										      <div>
										       	<time>May 2016</time> <br>
										        <span class="title">1st Generation Prototype</span>	<br>									        
										       	<span class="paragraph">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</span>
										      </div>
										    </li>
										    <li>
										      <div>
										        <time>May 2016</time> <br>
										        <span class="title">1st Generation Prototype</span>	<br>									        
										       	<span class="paragraph">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</span>
										      </div>
										    </li>
										    <li>
										      <div>
										       	<time>May 2016</time> <br>
										        <span class="title">1st Generation Prototype</span>	<br>									        
										       	<span class="paragraph">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</span>
										      </div>
										    </li>
										    <!-- li para el circulo verde al final -->
										    <li></li>
										  </ul>
										</section>
								  </div>
								  <!-- END STEP 2 -->

								  <!-- STEP 3 -->
								  <div id="comments" class="tab-pane fade comments">
								    <div class="createComment">
								    	<div class="row">
								    		<div class="col-md-1">
								    			<img src="http://lorempixel.com/output/people-h-c-173-182-7.jpg" alt="" class="img-circle" height="50px" width="50px">
								    		</div>
								    		<div class="col-md-8 padding_top_xsmall">
								    			<input type="text" placeholder="Leave a comment here..." class="inputComment">
								    		</div>
								    		<div class="col-md-2 padding_top_xsmall text-right">
								    			<button class="btn btn-primary">Post</button>
								    		</div>
								    	</div>
								    </div>
								  
									  <div class="listComments margin_top_medium">
									  	<div class="row comment">
								    		<div class="col-md-1">
								    			<img src="http://lorempixel.com/output/people-h-c-173-182-7.jpg" alt="" class="img-circle" height="50px" width="50px">
								    		</div>
								    		<div class="col-md-11 text">
								    			<b>Mike John</b> <span class="time">&nbsp;&nbsp;10 hours ago</span><br>
								    			<span>Rhoncus sit et tristique augue augue. Nunc turpis tortor augue velit sit?</span>
								    		</div>
									    </div>
									  </div>
									</div>
								  <!-- END STEP 3 -->

								  <!-- STEP 4 -->
								  <div id="backers" class="tab-pane fade backers">
								    <div class="listBackers">
									  	<% @backers.each do |backer| %>
										  	<div class="row backer">
									    		<div class="col-md-1">
									    			<img src="<%= backer["user_avatar"] %>" alt="" class="img-circle" height="50px" width="50px">
									    		</div>
									    		<div class="col-md-8 text">
									    			<b><%= backer["user_name"] %></b><br>
									    			<span><%= DateTime.parse(backer["created_at"]).strftime("%d/%m/%Y %H:%M") %></span>
									    		</div>
									    		<div class="col-md-2 text-right mount">
									    			<span><b><%= number_to_currency(backer["total_price"], unit: "€") %></b></span>
									    		</div>
										    </div>
									    <% end %>
									  </div>
								  </div>
								  <!-- END STEP 4 -->

								</div>
			    		</div>
			    	</div>
		    	</div>
		    	<!-- END MENU TAB -->
		    </div>

		    <!-- REWARDS -->
		    <div class="col-md-4" id="rewards">
		    	<h3 class="title margin_bottom_small">Rewards</h3>

          		<% @products.each do |product| %>
	  		    	<div class="boxDonate text-center">
	  	    			<h3 class="text-left no-margin-top">
	                		<span><%= number_to_currency(product["sale_price"], unit: "€") %></span>
	              		</h3>
	  	    			<%= simple_format(product["description"], class: 'text-left text margin_bottom_small') %>
	  	    			<a href="/donations/donate/<%= product['id'] %>" class="btn btn-orange btnSelect">DONATE</a>
	  	    			<% if product["backers"] > 0 %>
	  	    				<p class="text margin_top_small text-left">
	  	    					<%= product["backers"] %> <%= product["backers"] > 1 ? " Backers" : " Backer" %>
	  	    				</p>
	  	    			<% end %>
	  		    	</div>
          		<% end %>

		  	</div>
		  	<!-- END REWARDS -->

		  </div>
		</div>
	</div>

</article>