<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta property="og:title" content="AlumNet" />
  <meta property="og:type" content="social network" />
  <meta property="og:url" content="http://alumnet.aiesec-alumni.org/" />
  <meta property="og:image" content="assets/home/metaInfoImage.png" />
  <meta property="og:description" content="Alumnet is the global AIESEC Alumni platform, where you can find old and new friends with common interests, find events to attend, and make business, career and life connections." />
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width; initial-scale=1.0">
  <meta name="keywords" content="aiesec alumni, aai, aiesec, aai alumni">
  <title><%= yield(:title) %></title>
  <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script src='http://www.google.com/jsapi' type='text/javascript'></script>

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-52KPXL');
  </script>
  <!-- End Google Tag Manager -->

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

<link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="assets/favicon/favicon-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="assets/favicon/favicon-160x160.png" sizes="160x160">
<link rel="icon" type="image/png" href="assets/favicon/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="assets/favicon/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="assets/favicon/favicon-32x32.png" sizes="32x32">
<meta name="msapplication-TileColor" content="#444444">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
<!-- <link rel="shortcut icon" href="assets/favicon/favicon.ico"> -->
  <% if Rails.env.production? %>
    <%= favicon_link_tag 'favicon/favicon.ico' %>
  <% else %>
    <%= favicon_link_tag 'favicon/favicon-test.ico' %>
  <% end %>

  <%= csrf_meta_tags %>
  <%= include_gon %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-79334401-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-52KPXL"
    height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->  
  <div id="header-region">
    <header class="ErrorHeader">
      <%= image_tag("general/alumnet_logo.png", class: "ErrorHeader__Logo", alt: "AlumNet") %>
    </header>
  </div>
  <div class="container-fluid no_padding">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div id="main-region">
          <%= yield %>
        </div>
        <div id="chat-region"></div>
        <div id="footer-region"></div>
      </div>
    </div>
  </div>

<!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//analytics.alumnet-test.aiesec-alumni.org/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 1]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="//analytics.alumnet-test.aiesec-alumni.org/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
  
<!-- BEGIN GROOVE WIDGET CODE -->
<script id="grv-widget">
 /*<![CDATA[*/
 window.groove = window.groove || {}; groove.widget = function(){ groove._widgetQueue.push(Array.prototype.slice.call(arguments)); }; groove._widgetQueue = [];
 groove.widget('setWidgetId', '73a4f222-c996-4f26-64e2-7e08368f1a0b');
 !function(g,r,v){var a,c,n=r.createElement("iframe");(n.frameElement||n).style.cssText="width: 0; height: 0; border: 0",n.title="",n.role="presentation",n.src="javascript:false",r.body.appendChild(n);try{a=n.contentWindow.document}catch(b){c=r.domain;var d="javascript:document.write('<head><script>document.domain=\""+c+"\";</",i="script></head><body></body>')";n.src=d+i,a=n.contentWindow.document}var s="https:"==r.location.protocol?"https://":"http://",p="http://groove-widget-production.s3.amazonaws.com".replace("http://",s);n.className="grv-widget-tag",a.open()._l=function(){c&&(this.domain=c);var t=this.createElement("script");t.type="text/javascript",t.charset="utf-8",t.async=!0,t.src=p+"/loader.js",this.body.appendChild(t)},a.write('<body onload="document._l();">'),a.close()}(window,document);
 /*]]>*/
</script>
<!-- END GROOVE WIDGET CODE -->
</body>
</html>