<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="title" content="AlumNet">
  <meta name="description" content="Alumnet is the global AIESEC Alumni platform, where you can find old and new friends with common interests, find events to attend, and make business, career and life connections.">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width; initial-scale=1.0">
  <meta name="keywords" content="aiesec alumni, aai, aiesec, aai alumni">
  <title><%= yield(:title) %></title>
  <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <script src='http://www.google.com/jsapi' type='text/javascript'></script>
  
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

<link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="assets/favicon/favicon-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="assets/favicon/favicon-160x160.png" sizes="160x160">
<link rel="icon" type="image/png" href="assets/favicon/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="assets/favicon/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="assets/favicon/favicon-32x32.png" sizes="32x32">
<link rel="stylesheet" href="http://css-spinners.com/css/spinners.css" type="text/css">
<meta name="msapplication-TileColor" content="#444444">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
<!-- <link rel="shortcut icon" href="assets/favicon/favicon.ico"> -->
  <% if Rails.env.production? %>
    <%= favicon_link_tag 'favicon/favicon.ico' %>
  <% else %>
    <%= favicon_link_tag 'favicon/favicon-test.ico' %>
  <% end %>

  <%= csrf_meta_tags %>
  <%= include_gon %>
  <script>
  (function() {var s=document.createElement('script');
    s.type='text/javascript';s.async=true;
    s.src=('https:'==document.location.protocol?'https':'http') +
    '://aiesec-alumni.groovehq.com/widgets/48a7887c-0317-40a9-bffc-bfc81d174c4e/ticket.js'; var q = document.getElementsByTagName('script')[0];q.parentNode.insertBefore(s, q);})();
</script>

</head>
<body>
  <div id="header-region">

    <header class="ErrorHeader">
      <%= image_tag("general/alumnet_logo.png", class: "ErrorHeader__Logo", alt: "AlumNet") %>
    </header>

  </div>
  <div id="main-region">
    <%= yield %>
  </div>
  <div id="footer-region">
    <footer class="alumNetFooter">
      <div class="container-fluid">
        <div class="row">
          <div class=" col-md-4 col-lg-4">
            <%= image_tag("home/alumNetLogo.png", alt: "Company Logo AlumNet",width:"190px" ) %>
            <br>
            <p><strong>AIESEC Alumni International</strong></p>
            <small><p>Boulevard du Souverain N° 280B – 1160 Brussels, Belgium.</p></small>
            <small><p>International Non Profit Organisation recognized by Belgian Royal Decree 16/05/1991 VZW- AiSBL.</p></small>
            <small><p>Registered in Belgium under 0456.060.148, RPR/RPM Brussels.</p></small>
          </div>
          <div class="col-md-8 col-lg-8 text-right">
            <div class="clearfix">
              <ul class=" hidden-xs hidden-sm alumNetFooter__navigation navbar-right nav nav-pills">
                <li>
                  <a href="#about" title="About Us"> About Us</a>
                </li>
                <li>
                  <a href="http://aiesec-alumni.org/blog/" title="Blog" target="new">Blog</a>
                </li>
                <li>
                  <a href="#termsOfUse" title="Terms of Use">Terms of Use</a>
                </li>
                <li>
                  <a href="#privacyPolicy" title="Privacy Policy">Privacy Policy</a>
                </li>
                <li>
                  <a href="#joinAAI" title="Join AAI">Join AAI Team</a>
                </li>
                <li>
                  <a href="#donate" target="_blank" title="Donate">Donate</a>
                </li>
                <li>
                  <a href="#contact" title="Contact">Contact</a>
                </li>
              </ul>
            </div>
            <p class="hidden-xs"><small> Copyright © <script>document.write(new Date().getFullYear())</script> AIESEC Alumni International. All rights reserved. </small></p>
          </div>
        </div>
      </div>
    </footer>
  </div>

<!-- Piwik -->
  <script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//analytics.alumnet-test.aiesec-alumni.org/";
      _paq.push(['setTrackerUrl', u+'piwik.php']);
      _paq.push(['setSiteId', 1]);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="//analytics.alumnet-test.aiesec-alumni.org/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
  <!-- End Piwik Code -->  
</body>
</html>