<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="title" content="AlumNet">
  <meta name="description" content="Alumnet is the global AIESEC Alumni platform, where you can find old and new friends with common interests, find events to attend, and make business, career and life connections.">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width; initial-scale=1.0">
  <meta name="keywords" content="aiesec alumni, aai, aiesec, aai alumni">
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'public', media: 'all' %>
  <%= javascript_include_tag 'public' %>
<!--   <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'> -->
 
<link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="assets/favicon/favicon-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="assets/favicon/favicon-160x160.png" sizes="160x160">
<link rel="icon" type="image/png" href="assets/favicon/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="assets/favicon/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="assets/favicon/favicon-32x32.png" sizes="32x32">
<link rel="stylesheet" href="http://css-spinners.com/css/spinners.css" type="text/css">
<meta name="msapplication-TileColor" content="#444444">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
<!-- <link rel="shortcut icon" href="assets/favicon/favicon.ico"> -->
  <% if Rails.env.production? %>
    <%= favicon_link_tag 'favicon/favicon.ico' %>
  <% else %>
    <%= favicon_link_tag 'favicon/favicon-test.ico' %>
  <% end %>

  <%= csrf_meta_tags %>
  <%= include_gon %>
  <script>
  (function() {var s=document.createElement('script');
    s.type='text/javascript';s.async=true;
    s.src=('https:'==document.location.protocol?'https':'http') +
    '://aiesec-alumni.groovehq.com/widgets/48a7887c-0317-40a9-bffc-bfc81d174c4e/ticket.js'; var q = document.getElementsByTagName('script')[0];q.parentNode.insertBefore(s, q);})();
</script>
</head>
<body>
  <div id="header-region">
    <header class="staticContentBox__header">
    <a href="/" title="ALUMNET">
      <%= image_tag("general/alumnet_logo.png", class: "staticContentBox__header__Logo", alt: "AlumNet") %>
    </a>
    </header>
  </div>
  <div id="main-region">
    <% if notice %>
      <div class="alert alert-success"><b><%= notice %></b></div>
    <% end %>
    <%= yield %>
  </div>
  <div id="footer-region">
    <footer class="alumNetFooter">
      <div class="container-fluid">
        <div class="row">
          <div class=" col-md-4 col-lg-4">
            <%= image_tag("home/alumNetLogo.png", alt: "Company Logo AlumNet",width:"190px" ) %>
            <br>
            <p><strong>AIESEC Alumni International</strong></p>
            <small><p>Boulevard du Souverain N° 280, B-1160 Brussels, Belgium.</p></small>
            <small><p>International Non Profit Organisation recognized by Belgian Royal Decree 16/05/1991 iVZW- AiSBL.</p></small>
            <small><p>Registered in Belgium under 0456.060.148, RPR/RPM Brussels.</p></small>
            </p>
          </div>
          <div class="col-md-8 col-lg-8 text-right">
            <div class="clearfix">
              <ul class=" hidden-xs hidden-sm alumNetFooter__navigation navbar-right nav nav-pills">
                <li>
                  <a href="/about" title="About Us"> About Us</a>
                </li>
                <li>
                  <a href="http://aiesec-alumni.org/blog/" title="Blog" target="new">Blog</a>
                </li>
                <li>
                  <a href="/terms" title="Terms of Use">Terms of Use</a>
                </li>
                <li>
                  <a href="/privacy" title="Privacy Policy">Privacy Policy</a>
                </li>
                <li>
                  <a href="/joinAAI" title="Join AAI">Join AAI Team</a>
                </li>
                <li>
                  <a href="/donate" target="_blank" title="Donate">Donate</a>
                </li>
                <li>
                  <a href="/contact" title="Contact">Contact</a>
                </li>
              </ul>
            </div>
            <p class="hidden-xs"><small> Copyright © <script>document.write(new Date().getFullYear())</script> AIESEC Alumni International. All rights reserved. </small></p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>
